# Table Creation for Relational Analytics 1

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
d1 = pd.read_csv('/content/drive/MyDrive/districtpolice.csv')
d2 = pd.read_csv('/content/drive/MyDrive/allegationnums.csv')

In [ ]:
d1.head()

   district  police_per_district
0         1                 7694
1         2                 8008
2         3                 6864
3         4                 8575
4         5                 6978

In [ ]:
d2

    district  district_population  allegation_count  allegationspercapita
0       1527               144096              3970                    27
1       1528                91279              3617                    39
2       1531               200786              8756                    43
3       1532               200391              8199                    40
4       1533               117738              6232                    52
5       1534                71071             10984                   154
6       1535                75235              8707                   115
7       1536               123575              9760                    78
8       1537                90841             10127                   111
9       1539               101941              6066                    59
10      1540                74396              8329                   111
11      1541               141038              5338                    37
12      1542               199482              5474                    27
13      1543               247373             11130                    44
14      1544               117041              8140                    69
15      1545               127869              9985                    78
16      1546                70474             12387                   175
17      1547                59458              6770                   113
18      1548               118093              7102                    60
19      1549                62781             13617                   216
20      1550               165201              9291                    56
21      1551                95439             10739                   112

In [ ]:
dictmap = {1527:17, 1528:20, 1529:31, 1530:31, 1531:19, 1532:25, 1533:14, 1534:7, 1535:3, 1536:4, 1537:6, 1538:31, 1539:22, 1540:5, 1541:24, 1542:16, 1543:8, 1544:18, 1545:12, 1546:11, 1547:15, 1548:10, 1549:1, 1550:9, 1551:2}

In [ ]:
d2 = d2.replace({"district": dictmap})

In [ ]:
d2

    district  district_population  allegation_count  allegationspercapita
0         17               144096              3970                    27
1         20                91279              3617                    39
2         19               200786              8756                    43
3         25               200391              8199                    40
4         14               117738              6232                    52
5          7                71071             10984                   154
6          3                75235              8707                   115
7          4               123575              9760                    78
8          6                90841             10127                   111
9         22               101941              6066                    59
10         5                74396              8329                   111
11        24               141038              5338                    37
12        16               199482              5474                    27
13         8               247373             11130                    44
14        18               117041              8140                    69
15        12               127869              9985                    78
16        11                70474             12387                   175
17        15                59458              6770                   113
18        10               118093              7102                    60
19         1                62781             13617                   216
20         9               165201              9291                    56
21         2                95439             10739                   112

In [ ]:
d6 = d1.merge(d2, on = ['district'])

In [ ]:
d6.head()

,district,police_per_district,district_population,allegation_count,allegationspercapita
0,1,7694,62781,13617,216
1,2,8008,95439,10739,112
2,3,6864,75235,8707,115
3,4,8575,123575,9760,78
4,5,6978,74396,8329,111

In [ ]:
d6['allegations_per_officer'] = d6['allegation_count'] / d6['police_per_district']

In [ ]:
d6

,district,police_per_district,district_population,allegation_count,allegationspercapita,allegations_per_officer
0,1,7694,62781,13617,216,1.769821
1,2,8008,95439,10739,112,1.341034
2,3,6864,75235,8707,115,1.268502
3,4,8575,123575,9760,78,1.138192
4,5,6978,74396,8329,111,1.193608
5,6,8380,90841,10127,111,1.208473
6,7,7210,71071,10984,154,1.523440
7,8,10079,247373,11130,44,1.104276
8,9,6787,165201,9291,56,1.368941
9,10,5763,118093,7102,60,1.232344
10,11,5652,70474,12387,175,2.191614
11,12,5784,127869,9985,78,1.726314
12,14,5014,117738,6232,52,1.242920
13,15,4676,59458,6770,113,1.447819
14,16,7166,199482,5474,27,0.763885
15,17,4878,144096,3970,27,0.813858
16,18,8536,117041,8140,69,0.953608
17,19,6869,200786,8756,43,1.274712
18,20,5184,91279,3617,39,0.697724
19,22,8329,101941,6066,59,0.728299
20,24,4020,141038,5338,37,1.327861
21,25,5699,200391,8199,40,1.438673

In [ ]:
d6['allegations_per_capita'] = d6['allegation_count'] / d6['district_population']

In [ ]:
d6

,district,police_per_district,district_population,allegation_count,allegationspercapita,allegations_per_officer,allegations_per_capita
0,1,7694,62781,13617,216,1.769821,0.216897
1,2,8008,95439,10739,112,1.341034,0.112522
2,3,6864,75235,8707,115,1.268502,0.115731
3,4,8575,123575,9760,78,1.138192,0.078980
4,5,6978,74396,8329,111,1.193608,0.111955
5,6,8380,90841,10127,111,1.208473,0.111480
6,7,7210,71071,10984,154,1.523440,0.154550
7,8,10079,247373,11130,44,1.104276,0.044993
8,9,6787,165201,9291,56,1.368941,0.056241
9,10,5763,118093,7102,60,1.232344,0.060139
10,11,5652,70474,12387,175,2.191614,0.175767
11,12,5784,127869,9985,78,1.726314,0.078088
12,14,5014,117738,6232,52,1.242920,0.052931
13,15,4676,59458,6770,113,1.447819,0.113862
14,16,7166,199482,5474,27,0.763885,0.027441
15,17,4878,144096,3970,27,0.813858,0.027551
16,18,8536,117041,8140,69,0.953608,0.069548
17,19,6869,200786,8756,43,1.274712,0.043609
18,20,5184,91279,3617,39,0.697724,0.039626
19,22,8329,101941,6066,59,0.728299,0.059505
20,24,4020,141038,5338,37,1.327861,0.037848
21,25,5699,200391,8199,40,1.438673,0.040915

In [ ]:
d6['allegations_per_capita_n'] = (d6['allegations_per_capita'] - d6['allegations_per_capita'].min()) / (d6['allegations_per_capita'].max() - d6['allegations_per_capita'].min())

In [ ]:
d6['allegations_per_capita_n'] = d6['allegations_per_capita_n']*100

In [ ]:
d6

,district,police_per_district,district_population,allegation_count,allegationspercapita,allegations_per_officer,allegations_per_capita,allegations_per_capita_n
0,1,7694,62781,13617,216,1.769821,0.216897,100.000000
1,2,8008,95439,10739,112,1.341034,0.112522,44.908142
2,3,6864,75235,8707,115,1.268502,0.115731,46.601718
3,4,8575,123575,9760,78,1.138192,0.078980,27.203873
4,5,6978,74396,8329,111,1.193608,0.111955,44.608763
5,6,8380,90841,10127,111,1.208473,0.111480,44.358338
6,7,7210,71071,10984,154,1.523440,0.154550,67.091443
7,8,10079,247373,11130,44,1.104276,0.044993,9.264280
8,9,6787,165201,9291,56,1.368941,0.056241,15.201178
9,10,5763,118093,7102,60,1.232344,0.060139,17.258895
10,11,5652,70474,12387,175,2.191614,0.175767,78.290508
11,12,5784,127869,9985,78,1.726314,0.078088,26.732710
12,14,5014,117738,6232,52,1.242920,0.052931,13.454335
13,15,4676,59458,6770,113,1.447819,0.113862,45.615300
14,16,7166,199482,5474,27,0.763885,0.027441,0.000000
15,17,4878,144096,3970,27,0.813858,0.027551,0.058064
16,18,8536,117041,8140,69,0.953608,0.069548,22.225350
17,19,6869,200786,8756,43,1.274712,0.043609,8.533679
18,20,5184,91279,3617,39,0.697724,0.039626,6.431417
19,22,8329,101941,6066,59,0.728299,0.059505,16.924234
20,24,4020,141038,5338,37,1.327861,0.037848,5.493042
21,25,5699,200391,8199,40,1.438673,0.040915,7.111918

In [ ]:
d6 = d6.drop(columns=['allegationspercapita'])

In [ ]:
d6

,district,police_per_district,district_population,allegation_count,allegations_per_officer,allegations_per_capita,allegations_per_capita_n
0,1,7694,62781,13617,1.769821,0.216897,100.000000
1,2,8008,95439,10739,1.341034,0.112522,44.908142
2,3,6864,75235,8707,1.268502,0.115731,46.601718
3,4,8575,123575,9760,1.138192,0.078980,27.203873
4,5,6978,74396,8329,1.193608,0.111955,44.608763
5,6,8380,90841,10127,1.208473,0.111480,44.358338
6,7,7210,71071,10984,1.523440,0.154550,67.091443
7,8,10079,247373,11130,1.104276,0.044993,9.264280
8,9,6787,165201,9291,1.368941,0.056241,15.201178
9,10,5763,118093,7102,1.232344,0.060139,17.258895
10,11,5652,70474,12387,2.191614,0.175767,78.290508
11,12,5784,127869,9985,1.726314,0.078088,26.732710
12,14,5014,117738,6232,1.242920,0.052931,13.454335
13,15,4676,59458,6770,1.447819,0.113862,45.615300
14,16,7166,199482,5474,0.763885,0.027441,0.000000
15,17,4878,144096,3970,0.813858,0.027551,0.058064
16,18,8536,117041,8140,0.953608,0.069548,22.225350
17,19,6869,200786,8756,1.274712,0.043609,8.533679
18,20,5184,91279,3617,0.697724,0.039626,6.431417
19,22,8329,101941,6066,0.728299,0.059505,16.924234
20,24,4020,141038,5338,1.327861,0.037848,5.493042
21,25,5699,200391,8199,1.438673,0.040915,7.111918

In [ ]:
from google.colab import files
d6.to_csv('output.csv', encoding = 'utf-8-sig', index=False) 
files.download('output.csv')