In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/content/drive/MyDrive/DataML/cleaneddata_2.csv')

In [4]:
data.head()

,district,gender,race,major_award_count,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop,allegations_per_officer,mean,std,y,y2,y3
0,9.0,F,White,0.0,15.0,1.0,6.0,1957.0,0,1,0,0,0,1,12.815172,11.9869,12.501372,3,2,2
1,9.0,M,White,0.0,6.0,2.0,3.0,1958.0,0,1,0,0,0,1,12.815172,11.9869,12.501372,2,2,1
2,9.0,M,White,0.0,30.0,1.0,14.0,1961.0,0,1,0,0,0,1,12.815172,11.9869,12.501372,5,3,2
3,9.0,M,White,0.0,22.0,0.0,12.0,1957.0,0,1,0,0,0,1,12.815172,11.9869,12.501372,5,3,2
4,9.0,M,White,0.0,17.0,1.0,9.0,1962.0,0,1,0,0,0,1,12.815172,11.9869,12.501372,4,3,2

In [5]:
data.isna().sum()

district                   0
gender                     0
race                       0
major_award_count          0
allegation_count           0
sustained_count            0
unsustained_count          0
birth_year                 0
black                      0
white                      0
hispanic                   0
blackpop                   0
whitepop                   0
hispanicpop                0
allegations_per_officer    0
mean                       0
std                        0
y                          0
y2                         0
y3                         0
dtype: int64

In [6]:
data.isnull().sum()

district                   0
gender                     0
race                       0
major_award_count          0
allegation_count           0
sustained_count            0
unsustained_count          0
birth_year                 0
black                      0
white                      0
hispanic                   0
blackpop                   0
whitepop                   0
hispanicpop                0
allegations_per_officer    0
mean                       0
std                        0
y                          0
y2                         0
y3                         0
dtype: int64

In [7]:
data.describe()

,district,major_award_count,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop,allegations_per_officer,mean,std,y,y2,y3
count,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000,9943.000000
mean,11.723222,0.145731,11.150256,0.816051,4.494116,1972.149854,0.257769,0.696772,0.045459,0.436287,0.299909,0.263804,11.246927,11.150256,12.434137,2.575179,1.867545,1.356029
std,7.100001,0.422396,12.739950,1.573281,6.865678,9.350055,0.437428,0.459676,0.208319,0.495949,0.458241,0.440716,2.448797,1.937761,2.067415,1.552720,0.785131,0.478848
min,1.000000,0.000000,0.000000,0.000000,0.000000,1956.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.929508,7.682648,8.340430,1.000000,1.000000,1.000000
25%,6.000000,0.000000,2.000000,0.000000,0.000000,1965.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.598639,10.180498,10.795533,1.000000,1.000000,1.000000
50%,11.000000,0.000000,7.000000,0.000000,2.000000,1971.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,11.532450,10.699187,12.453097,2.000000,2.000000,1.000000
75%,18.000000,0.000000,15.000000,1.000000,6.000000,1979.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,12.611457,12.154589,13.756990,4.000000,3.000000,2.000000
max,25.000000,5.000000,132.000000,25.000000,76.000000,1995.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.761840,15.550388,16.291288,5.000000,3.000000,2.000000

In [8]:
databin = data.drop(['y', 'y2', 'std', 'mean', 'allegations_per_officer', 'major_award_count'], axis=1)

In [9]:
data

,district,gender,race,major_award_count,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop,allegations_per_officer,mean,std,y,y2,y3
0,9.0,F,White,0.0,15.0,1.0,6.0,1957.0,0,1,0,0,0,1,12.815172,11.986900,12.501372,3,2,2
1,9.0,M,White,0.0,6.0,2.0,3.0,1958.0,0,1,0,0,0,1,12.815172,11.986900,12.501372,2,2,1
2,9.0,M,White,0.0,30.0,1.0,14.0,1961.0,0,1,0,0,0,1,12.815172,11.986900,12.501372,5,3,2
3,9.0,M,White,0.0,22.0,0.0,12.0,1957.0,0,1,0,0,0,1,12.815172,11.986900,12.501372,5,3,2
4,9.0,M,White,0.0,17.0,1.0,9.0,1962.0,0,1,0,0,0,1,12.815172,11.986900,12.501372,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,22.0,M,White,0.0,3.0,0.0,0.0,1979.0,0,1,0,1,0,0,8.753247,15.550388,15.291449,1,1,1
9939,22.0,M,White,0.0,16.0,0.0,6.0,1970.0,0,1,0,1,0,0,8.753247,15.550388,15.291449,3,2,2
9940,22.0,M,White,0.0,2.0,0.0,2.0,1972.0,0,1,0,1,0,0,8.753247,15.550388,15.291449,1,1,1
9941,22.0,M,White,0.0,5.0,2.0,1.0,1969.0,0,1,0,1,0,0,8.753247,15.550388,15.291449,1,1,1
9942,22.0,M,White,0.0,7.0,0.0,3.0,1961.0,0,1,0,1,0,0,8.753247,15.550388,15.291449,1,1,1

In [10]:
databin

,district,gender,race,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop,y3
0,9.0,F,White,15.0,1.0,6.0,1957.0,0,1,0,0,0,1,2
1,9.0,M,White,6.0,2.0,3.0,1958.0,0,1,0,0,0,1,1
2,9.0,M,White,30.0,1.0,14.0,1961.0,0,1,0,0,0,1,2
3,9.0,M,White,22.0,0.0,12.0,1957.0,0,1,0,0,0,1,2
4,9.0,M,White,17.0,1.0,9.0,1962.0,0,1,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,22.0,M,White,3.0,0.0,0.0,1979.0,0,1,0,1,0,0,1
9939,22.0,M,White,16.0,0.0,6.0,1970.0,0,1,0,1,0,0,2
9940,22.0,M,White,2.0,0.0,2.0,1972.0,0,1,0,1,0,0,1
9941,22.0,M,White,5.0,2.0,1.0,1969.0,0,1,0,1,0,0,1
9942,22.0,M,White,7.0,0.0,3.0,1961.0,0,1,0,1,0,0,1

In [11]:
from sklearn.model_selection import cross_validate
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [12]:
databin_X = databin.drop(['y3'], axis=1)

In [13]:
databin_Y = databin[['y3']]

In [14]:
databin_X

,district,gender,race,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop
0,9.0,F,White,15.0,1.0,6.0,1957.0,0,1,0,0,0,1
1,9.0,M,White,6.0,2.0,3.0,1958.0,0,1,0,0,0,1
2,9.0,M,White,30.0,1.0,14.0,1961.0,0,1,0,0,0,1
3,9.0,M,White,22.0,0.0,12.0,1957.0,0,1,0,0,0,1
4,9.0,M,White,17.0,1.0,9.0,1962.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,22.0,M,White,3.0,0.0,0.0,1979.0,0,1,0,1,0,0
9939,22.0,M,White,16.0,0.0,6.0,1970.0,0,1,0,1,0,0
9940,22.0,M,White,2.0,0.0,2.0,1972.0,0,1,0,1,0,0
9941,22.0,M,White,5.0,2.0,1.0,1969.0,0,1,0,1,0,0
9942,22.0,M,White,7.0,0.0,3.0,1961.0,0,1,0,1,0,0

In [15]:
databin_Y

      y3
0      2
1      1
2      2
3      2
4      2
...   ..
9938   1
9939   2
9940   1
9941   1
9942   1

[9943 rows x 1 columns]

##Binary Classification

In [16]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [17]:
databin_X['gender']= label_encoder.fit_transform(databin_X['gender'])

In [18]:
databin_X['race']= label_encoder.fit_transform(databin_X['race'])

In [19]:
databin_X

,district,gender,race,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop
0,9.0,0,5,15.0,1.0,6.0,1957.0,0,1,0,0,0,1
1,9.0,1,5,6.0,2.0,3.0,1958.0,0,1,0,0,0,1
2,9.0,1,5,30.0,1.0,14.0,1961.0,0,1,0,0,0,1
3,9.0,1,5,22.0,0.0,12.0,1957.0,0,1,0,0,0,1
4,9.0,1,5,17.0,1.0,9.0,1962.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,22.0,1,5,3.0,0.0,0.0,1979.0,0,1,0,1,0,0
9939,22.0,1,5,16.0,0.0,6.0,1970.0,0,1,0,1,0,0
9940,22.0,1,5,2.0,0.0,2.0,1972.0,0,1,0,1,0,0
9941,22.0,1,5,5.0,2.0,1.0,1969.0,0,1,0,1,0,0
9942,22.0,1,5,7.0,0.0,3.0,1961.0,0,1,0,1,0,0

In [20]:
tree_model = DecisionTreeClassifier()

cv_results = cross_validate(tree_model, databin_X, databin_Y, scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.01437187, 0.0105505 , 0.01213193, 0.01361942, 0.01157641]), 'score_time': array([0.00361276, 0.00350571, 0.00561714, 0.00366926, 0.00382257]), 'test_accuracy': array([0.93866264, 0.96229261, 0.95575666, 0.97434608, 0.91549296])}

In [21]:
print(sum(cv_results["test_accuracy"]/5))

0.9493101899481352

In [22]:
tree_model.fit(databin_X, databin_Y)

DecisionTreeClassifier()

In [23]:
kn_model = KNeighborsClassifier()
cv_results = cross_validate(kn_model, databin_X, databin_Y.values.ravel(), scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.04083705, 0.03070807, 0.02734661, 0.02705216, 0.02829981]), 'score_time': array([0.15111542, 0.13022757, 0.13264561, 0.12947226, 0.13062286]), 'test_accuracy': array([0.95072901, 0.93363499, 0.95072901, 0.9637827 , 0.93209256])}

In [24]:
print(sum(cv_results["test_accuracy"]/5))

0.9461936526145308

In [25]:
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression(solver='liblinear')
cv_results = cross_validate(lr_model, databin_X, databin_Y.values.ravel(), scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.03449774, 0.04405475, 0.04303789, 0.04366422, 0.04693508]), 'score_time': array([0.00895929, 0.00340867, 0.00339246, 0.00351977, 0.00417233]), 'test_accuracy': array([0.97938663, 0.9436903 , 0.95173454, 0.97987928, 0.91750503])}

In [26]:
print(sum(cv_results["test_accuracy"]/5))

0.9544391537763534

## Three Class Classification

In [27]:
datat = data.drop(['y', 'y3', 'std', 'mean', 'allegations_per_officer', 'major_award_count'], axis=1)

In [28]:
datat_Y = datat[['y2']]

In [29]:
datat_X = datat.drop(['y2'], axis=1)

In [30]:
datat_X['gender']= label_encoder.fit_transform(datat_X['gender']) 
datat_X['race']= label_encoder.fit_transform(datat_X['race'])

In [31]:
datat_Y

      y2
0      2
1      2
2      3
3      3
4      3
...   ..
9938   1
9939   2
9940   1
9941   1
9942   1

[9943 rows x 1 columns]

In [32]:
datat_X

,district,gender,race,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop
0,9.0,0,5,15.0,1.0,6.0,1957.0,0,1,0,0,0,1
1,9.0,1,5,6.0,2.0,3.0,1958.0,0,1,0,0,0,1
2,9.0,1,5,30.0,1.0,14.0,1961.0,0,1,0,0,0,1
3,9.0,1,5,22.0,0.0,12.0,1957.0,0,1,0,0,0,1
4,9.0,1,5,17.0,1.0,9.0,1962.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,22.0,1,5,3.0,0.0,0.0,1979.0,0,1,0,1,0,0
9939,22.0,1,5,16.0,0.0,6.0,1970.0,0,1,0,1,0,0
9940,22.0,1,5,2.0,0.0,2.0,1972.0,0,1,0,1,0,0
9941,22.0,1,5,5.0,2.0,1.0,1969.0,0,1,0,1,0,0
9942,22.0,1,5,7.0,0.0,3.0,1961.0,0,1,0,1,0,0

In [33]:
tree_model = DecisionTreeClassifier()

cv_results = cross_validate(tree_model, datat_X, datat_Y, scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.01740813, 0.01509237, 0.0185461 , 0.0142169 , 0.01304436]), 'score_time': array([0.00561213, 0.00478339, 0.00358796, 0.00347614, 0.00323868]), 'test_accuracy': array([0.9205631 , 0.90497738, 0.88888889, 0.9416499 , 0.82394366])}

In [34]:
print(sum(cv_results["test_accuracy"]/5))

0.8960045845712787

In [35]:
kn_model = KNeighborsClassifier()
cv_results = cross_validate(kn_model, datat_X, datat_Y.values.ravel(), scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.01859999, 0.02019024, 0.01576734, 0.01584339, 0.01629996]), 'score_time': array([0.08158088, 0.08790398, 0.09012461, 0.08333087, 0.07925439]), 'test_accuracy': array([0.89894419, 0.88738059, 0.88637506, 0.90040241, 0.85211268])}

In [36]:
print(sum(cv_results["test_accuracy"]/5))

0.8850429879427393

In [37]:
lr_model = LogisticRegression(solver='liblinear')
cv_results = cross_validate(lr_model, datat_X, datat_Y.values.ravel(), scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.10521388, 0.08382916, 0.07832909, 0.08378863, 0.09816933]), 'score_time': array([0.00611115, 0.00265884, 0.00264382, 0.00261211, 0.00267291]), 'test_accuracy': array([0.94720965, 0.90447461, 0.87833082, 0.95171026, 0.84356137])}

In [38]:
print(sum(cv_results["test_accuracy"]/5))

0.9050573425469863

## 5 Class classification

In [39]:
data5 = data.drop(['y2', 'y3', 'std', 'mean', 'allegations_per_officer', 'major_award_count'], axis=1)

In [40]:
data5_Y = data5[['y']]

In [41]:
data5_X = data5.drop(['y'], axis=1)

In [42]:
data5_X['gender']= label_encoder.fit_transform(data5_X['gender']) 
data5_X['race']= label_encoder.fit_transform(data5_X['race'])

In [43]:
data5_Y

      y
0     3
1     2
2     5
3     5
4     4
...  ..
9938  1
9939  3
9940  1
9941  1
9942  1

[9943 rows x 1 columns]

In [44]:
data5_X

,district,gender,race,allegation_count,sustained_count,unsustained_count,birth_year,black,white,hispanic,blackpop,whitepop,hispanicpop
0,9.0,0,5,15.0,1.0,6.0,1957.0,0,1,0,0,0,1
1,9.0,1,5,6.0,2.0,3.0,1958.0,0,1,0,0,0,1
2,9.0,1,5,30.0,1.0,14.0,1961.0,0,1,0,0,0,1
3,9.0,1,5,22.0,0.0,12.0,1957.0,0,1,0,0,0,1
4,9.0,1,5,17.0,1.0,9.0,1962.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,22.0,1,5,3.0,0.0,0.0,1979.0,0,1,0,1,0,0
9939,22.0,1,5,16.0,0.0,6.0,1970.0,0,1,0,1,0,0
9940,22.0,1,5,2.0,0.0,2.0,1972.0,0,1,0,1,0,0
9941,22.0,1,5,5.0,2.0,1.0,1969.0,0,1,0,1,0,0
9942,22.0,1,5,7.0,0.0,3.0,1961.0,0,1,0,1,0,0

In [45]:
tree_model = DecisionTreeClassifier()

cv_results = cross_validate(tree_model, data5_X, data5_Y, scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.02035761, 0.01652002, 0.01549435, 0.01468039, 0.01431656]), 'score_time': array([0.00370288, 0.00353074, 0.00344372, 0.00349545, 0.00348735]), 'test_accuracy': array([0.82755153, 0.81900452, 0.83710407, 0.89034205, 0.6971831 ])}

In [46]:
print(sum(cv_results["test_accuracy"]/5))

0.8142370563248773

In [47]:
kn_model = KNeighborsClassifier()
cv_results = cross_validate(kn_model, data5_X, data5_Y.values.ravel(), scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.01691651, 0.01592755, 0.01576877, 0.01565337, 0.0165782 ]), 'score_time': array([0.07893968, 0.08011603, 0.08131027, 0.08154392, 0.09181833]), 'test_accuracy': array([0.79537456, 0.77777778, 0.79034691, 0.82796781, 0.76961771])}

In [48]:
print(sum(cv_results["test_accuracy"]/5))

0.7922169517861315

In [49]:
lr_model = LogisticRegression(solver='liblinear')
cv_results = cross_validate(lr_model, data5_X, data5_Y.values.ravel(), scoring = ['accuracy'])
print(cv_results)

{'fit_time': array([0.14668918, 0.14120603, 0.14124203, 0.14686751, 0.16300988]), 'score_time': array([0.00276923, 0.00300336, 0.00289059, 0.00280166, 0.00384545]), 'test_accuracy': array([0.80593263, 0.76973353, 0.75113122, 0.80533199, 0.72183099])}

In [50]:
print(sum(cv_results["test_accuracy"]/5))

0.7707920726976237